*{
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background:rgb(103, 114, 160);
}
nav ul{
    display: flex;
    list-style: none;
    padding: 10px;
}
nav ul li{
    padding-left: 15px;
    font-weight: bold;
}
header div h1{
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
.contain{
    font-size: 1.2em;
    text-align: center;
    background: rgb(177, 174, 174);
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-gap: 5px;
    grid-template-areas: 
        "top-bar top-bar top-bar top-bar"
        "left-bar main-bar main-bar right-bar"
        "left-bar main-bar main-bar right-bar"
        "bottom-bar bottom-bar bottom-bar bottom-bar"
    ;
}

.top-bar{
    background: #23232e;
    grid-area: top-bar;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr ;
    padding: 10px;
    grid-gap: 10px;
   
}
.d1{
    background: rgb(181, 139, 139);
}
.d2{
    background: rgb(167, 136, 136);
    
}
.left-bar{
    background: #23232e;
    padding: 15px;
    
    grid-area: left-bar;
}
.right-bar{
    background: #23232e;
    padding: 15px;
    
    grid-area: right-bar;
}
.main-bar{
    

    background: #23232e;
    
    grid-area: main-bar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;

}
.box-img-main{
    margin: 10px;
    border: 2px solid ;
    border-radius: 8px;
    background-image: url(620-6209250_noragami-hiyori-png-transparent-png.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
    background-attachment: fixed;
    width: 60vw;
    height: 65vh;
}

.main-bar p {
    
    
}
.bottom-bar{
    background: #23232e;
   
    grid-area: bottom-bar;
}



@media (max-width:1024px){
    .contain{
        height: 250vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 4fr 1fr 1fr;
        grid-gap: 5px;
        grid-template-areas: 
        "top-bar top-bar "
        " main-bar main-bar"
        "right-bar left-bar"
        "bottom-bar bottom-bar "
    ;
    }
    
}
@media (max-width:800px){
    .contain{
        height: 280vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 2fr 3fr 1fr 1fr 0.5fr ;
        grid-gap: 5px;
        grid-template-areas: 
            "top-bar "
            "main-bar"
            "left-bar"
            "right-bar"
            "bottom-bar "
        ;
    }
    .top-bar{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
        grid-gap: 10px;
       
    }
}
