@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #666565;
    font-family: var(--font-inicial);

}

body{
    width: 100%;
    height: 100%;
    background: black;
}
:root{
    --font-inicial: 'Roboto', sans-serif;
    --font-animada1:  'Odibee Sans', cursive;
    --font-animada2: 'Bungee Outline', cursive;
    
}
.indice{
    width: 100vw;
}
.logo-topo h1 strong{
    color: rgb(114, 67, 254); ;
    font-weight: 400;
}
.indice-topo{
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.467);
}

.indice-topo a{
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 1.4em;
    text-decoration: none;
    border-radius: 5px;  
    color: rgb(114, 67, 254);
    font-weight: 400;
}
.indice-topo a:hover{
    border: 2px solid rgb(121, 121, 202);
    color: aliceblue;
}
.logo-topo h1{
    color: rgb(255, 0, 0);
    font-weight: lighter;
}
.navega-midia input{
    border: none;
    background: transparent;
    padding: 20px;
    color: red;
    font-weight: bolder;
    font-size: 1.5em;
}
.banner-main{
    width: 100vw;
    height: 69vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
   
    background-image: url(686126.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.524) inset; 
    
}
.banner-main div {
    max-width: 600px;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.652);
}
.banner-main div p{
    color: white;
    text-align: justify;
    padding: 10px;
}
.banner-h2 h2{
    font-size: 1.9em;
    color: aliceblue;
    padding: 20px;
    font-family: var(--font-inicial);
}
.busca{
    display: flex;
    justify-content: center;
    width: 100vw;
   
}
.barra-busca{
    background-image: linear-gradient(to bottom,rgb(114, 67, 254),rgb(64, 54, 93));
    width: 94%;
    height: 95px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.barra-busca h2{
    color: aliceblue;
    font-size: 2.5em;
    text-align: center;
    font-family: var(--font-animada2);
}
.box-tabela{
    height: 100%;
    width: 100%;
    
    background-image: url(imgbcg2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    


}
.box-tabela{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;   
    border-radius: 6px;
    
    
}
.produtos{
    background: rgb(0, 0, 0);
    width: 250px;
    height: 290px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.148);
}
.produtos h3{
    padding: 5px;
    font-size: 1.3em;
}
.bt-comprar{
    padding: 10px 10px ;
    background: rgb(0, 128, 255);
    
    


}
.bt-comprar a{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
}
.bt-comprar:hover{
    background: gold;
    color:black;
}
.bt-comprar:hover a{
    color:black; 
}
img{
    width: 80%;
    padding: 10px;
}
.navega-midia img{
    width:20%;
}
.navega-midia{
    display: none;
}
.active{

}

@media (max-width:769px){
    .banner-main div {
        max-width: 320px;
        
        
    }
    .navega-topo{
        display: none;
    }
    .navega-midia{
        display: block;
        
    }
    .barra-busca h2{
        font-size: 1.5em;
        text-align: center;
        margin-top: 18px;
        
    }
   

}
@media(max-width:1350px){
    .box-tabela{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-gap: 5px;

        
    }
    .box-tabela{
        height: 100%;
        width: 100%;
    }
    
}
@media(max-width:1020px){
    .box-tabela{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        grid-gap: 5px;
        
    }
    .box-tabela{
        height: 100%;
        width: 100%;
    }
}
@media(max-width:670px ){
    .box-tabela{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        grid-gap: 5px;
        
    }
    .box-tabela{
        height: 100%;
        width: 100%;
    }
}
@media(max-width:568px){
    .box-tabela{
        height: 100%;
        width: 100%;
    }
}
