@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --font-loby: 'Poppins', sans-serif;
    
}
a{
    text-decoration: none;
    font-weight: 600;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-loby);
    
}
body{
    background-color: black;
    color: whitesmoke;
}
.IMG{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: IMG;
}
.site{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
        "IMG CAD"
    ; 
    height: 100vh;
    background: linear-gradient(to bottom ,#8AB8F1, #A8E5BA );
    align-items: center;
    
}
.form{
    background: linear-gradient(to top , #77D692 ,#7AD5FB );
    height: 600px;
    width: 430px;
    padding: 2rem;
    grid-area: CAD;


}
.form-header{
    display: flex;
    justify-content: space-around;
}
.input-grupo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 2rem;
    gap: 5px;
    
}
.input-box{
    margin-top: 20px;
}
.input-box input{
   outline: none; 
   padding: 8px 5px;
   border: none;
   border-radius: 4px;
}
.login-btn>button{
    padding: 8px 9px;
    border: none ;
    border-radius: 4px;
    background-color: #2A0752;

}
.login-btn a{
    color: whitesmoke;
}
.continue-btn>button{
    padding: 8px 9px;
    border: none ;
    border-radius: 4px;
    
    
    
}
.continue-btn {
    align-items: center;
    justify-content: center;

    
    
}
.continue-btn a{
    color: whitesmoke;
}
.continue-btn button{
    padding: 10px 50px;
    background: #2A0752;
    
}
@media (max-width:1000px){
    .site{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }
    
    .IMG{
        display: none;
    }
}
@media (max-width:433px){
    .input-grupo{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        margin-top: 2rem;
        gap: 5px;
        
    }
    .form{
        width: 370px;
        height: 100vh;
    }
}