@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{

    --color_backgrownd:#F2E7C4;
    --color_backgrownd_OD:#0D0D0D;
    --color_barras: linear-gradient(180deg, #591202 0%, #8C2703 100%);
    --color_ativiments: #8C4E03;
    --font_padrão: 'Outfit', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font_padrão);
}
body{
    background-color: var(--color_backgrownd_OD);
    width: 100%;
    height: 277vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(imgs/Back\ grasund\ definitivo\ Real.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;

}
header{
    
    margin-bottom: 20px;
    

}



.barraNav{
    background: var(--color_barras);
    border-radius: 6px;
    width: 83vw;
    height: 8.9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    
    
}
.barraNav a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 8pt;
}
.navMobile{
    display: none;
    color: white;
}

main{
    background-color: var(--color_backgrownd);
    height: 234vh;
    width: 83vw;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        "banner banner"
        "titulo1 titulo1"
        "categorias categorias"
        "produtos produtos"
        "visita visita"
        
    ; 
    
}
.titulo1{
    grid-area: titulo1;
    height: 42px;
    background: var(--color_barras);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.banner{
    grid-area: banner;
    background-color: #7e7e7e;
    height: 500px;
    
   
    background-size: cover;
}
.categorias{
    grid-area: categorias;
    background: var(--font_padrão);
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    justify-items: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    
   
}
.linkCateg{
    background:var(--color_barras);
    width: 100%;
    height: 30px;
    font-size: 9pt;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.produtos{
    grid-area: produtos;
    background-color: #1d5380;
    height: 523px;
    background-image: url(imgs/bACK-FINALE-2.png);
    background-size: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}
.box-prods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 5px; 
    width: 70%;
    
}
.estrutura{
    background-image: url(imgs/Rectangle\ 7\ \(1\).png);
}
.prods img{
    width: 90%;
    padding: 20px;
   
    
}
.prods{
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
    

    
}
.desc-prods{
    text-align: left;
}
.text2{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    font-size: 8pt;
    
    
}
.text1 h3{
    padding: 20px;
    padding-left: 40px;
}
.text2 h3{
    padding-right: 60px;
    padding-bottom: 10px;
}
.text1{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: start;
    font-size: 8pt;
    
}

.visita{
    grid-area: visita;
    background-color: #a33a3a;
    border-radius: 0px 0px 6px 6px;
    height:442px;
    background-image: url(imgs/91579\ inver.png);
    background-position: bottom center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;

}
.btnConvite{
    background: var(--color_barras);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    border: solid 2px  ;
    margin-top: 10px;
    
}
.btnConvite div {
    width: 20%;
    margin-top: 10px;
}
.btnConvite p{
    padding-right: 15px;
}

.visita img{
    width: 60%;
}


.categ{
    height: 28vh;
    width: 15vw;
    background-color: #0D0D0D;
    border-radius: 6px;
    display: flex;
    align-items: end;
    justify-content: center;
    border: solid 4px #8C2703;
    
}
.categ>h3{
    padding: 20px;
    font-size: 10pt;

    
    
    
}
footer{
    background-color: #0D0D0D;
    color: white;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 1rem 1fr ;
    justify-items: center;
    align-items: end;

    
    margin-top: 80px;
    
}
.navSociais{
    background: var(--color_barras);
    width: 100%;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navSociais img{
    padding: 10px;
}
@media (max-width:1042px){
    .categ>h3{
        
        font-size: 8pt;  
        border-radius: 6px;
        padding: 10px 30px;
        
    }
    .categ{
        height: 25vh;
        width: 25vw;
        
    }
    .carrossel{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;

    }
    .barraNav a{
        display: none;
    }
    .navMobile{
        display: inline;
    }
    .mobileNav{
        
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .linkCateg p{
        font-size: 7pt;
        
    }
    .visita{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .visita{
        background-image: url(imgs/91579\ Mbl.png);
    }
    .visita img{
        width: 30%;
    }
    .visita h2{
        font-size: 13pt;
    }
    .visita p{
        font-size: 8pt;
    }
    .btnConvite{
        padding: 1;
    }
    .imgSVG{
        display: none;
    }
    .btnConvite p{
        padding-right: 0;
    }
    
    .prods{
        width: 15vw;
        height: 20vh;

    }
   

}
@media (max-width:700px){
    .box-prods{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr ;
       grid-template-rows: 1fr;
       align-items: center;
       justify-items: center;
       overflow-y: hidden;
       width: 95%;
       height: 400px;
      
    }
    .prods{
        width: 35vw;

        
    }
    .text1{
        display: none;

    }
    .text2{
        display: none;
    }
}
