@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{

    --color_backgrownd:#F2E7C4;
    --color_backgrownd_OD:#0D0D0D;
    --color_barras: linear-gradient(180deg, #591202 0%, #8C2703 100%);
    --color_ativiments: #8C4E03;
    --font_padrão: 'Outfit', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font_padrão);
    box-sizing: border-box;
    border: 0;
    
}
.navMobile{
    display: none;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #591202;
    grid-area: header;
}
header a{
    text-decoration: none;
    color: white;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 10pt;
    

}
.site{
    background-color: #0D0D0D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 0.5fr 0.1fr 0.9fr 0.1fr 1fr;
    
    grid-template-areas:
        'header header'
        "banner banner"
        "subtitle subtitle"
        "categorias categorias"
        "subtitle2 subtitle2"
        "produtos produtos"
        "subtitle3 subtitle3"
        "visita visita"
    ; 
    
}
.banner{
    grid-area: banner;
    background-color: #F9F4E4;
    box-shadow: 0px 0px 10px 1px inset black;
}
.categorias{
    grid-area: categorias;
    background-color: #F9F4E4;


}
.produtos{
    grid-area: produtos;
    background-color: #F9F4E4;
    box-shadow: 0px 0px 10px 1px inset black;
}
.visita{
    grid-area: visita;
    background-color: #F9F4E4;
}
.categorias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 5%;
    gap: 5%;
    box-shadow: 0px 0px 10px 1px inset black;
    
    

}
.categorias::-webkit-scrollbar{
    background-color: #0D0D0D;
}
.categorias::-webkit-scrollbar-thumb{
    background-color: #8C2703;
}
.categ{
    height: 15rem;
    width: 15rem;
    
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
}
.banner iframe{
    height: 500px;
    width: 100%;
    border: solid 4px ;
    border-color: var(--color_backgrownd_OD);
    
    

}
.btns{
  margin-top: 1rem;
  padding: 2rem;
}
.btns a{
   text-decoration: none;
   color: white;
   padding: 0.5rem;
   background-color: #0D0D0D;
   border-radius: 6px;
}
.subtitle3{
    grid-area: subtitle3;
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    color: white;
    align-items: center;
}
.subtitle2 h3{
    color: #591202;
}
.subtitle3 h3{
    color: #591202;
}
.subtitle2{
    grid-area: subtitle2;
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    
    align-items: center;
}
.subtitle{
    grid-area: subtitle;
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    
    align-items: center;
}
.subtitle h3{
    color: #591202;
}
.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items:center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5%;
    gap: 20px;
    
}
.produtos::-webkit-scrollbar{
    background-color: #0D0D0D;
}
.produtos::-webkit-scrollbar-thumb{
    background-color: #8C2703;
}
.prods {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    background-color: #ffffff;
    height: 25rem;
    border-radius: 6px;
    
}
.compr{
    color: white;
    font-size: 12pt;
    font-weight: 100;

}
.prods img{
    padding: 5%;
}.prods p{
    padding: 5%;
    text-align: center;
}
.compr{
    background-color: #FFD952;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    margin-top: 10px;

}
.compr p{
    color:#591202  ;
    font-weight: bold;
}
.box-prods{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.visita{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-image: url(imgs/91579\ inver.png);
    background-position: center;
    background-size: cover;


}
.btnConvite{
    background-color: #591202;
    height: 65px;
    width: 220px;
    border-radius: 6px;
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.imgSVG img{
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.visita img{
    width: 70%;
}

.convite p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);
    font-size: 16pt;

}
.convite h1{
    font-size: 25pt;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.534);
}
.btnConvite p {
    font-size: 10pt;
    text-shadow: none;
}

footer{
    height: 100px;
    padding-top: 10px;
    text-align: left;
    
    background-color: #0D0D0D;
}footer p{
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    text-align: justify;
}
.navSociais{
    align-items: center;
    justify-content: center;
    background-color: #591202;
    width: 100%;
    display: flex;
    height: 2rem;

}
.navSociais img{
    padding-left: 5px;
}
@media(max-width: 1040px){
    .categorias{
        overflow-x: scroll;

    }
    .produtos{
        overflow-x: scroll;
    }
    body{
        overflow-x: hidden;
    }
    main{
        overflow-x: hidden;
    }
    .visita{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url(imgs/91579\ Mbl.png);
    }
    .convite{
        text-align: center;
        text-shadow: 3px 3px 3px black;
    }
    .btnConvite{
        height: 65px;
        width: 280px;
        text-shadow: none;
    }
    .barraNav a{
        display:none;
    }
    .navMobile{
        display: block;
    }
}