@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color_brown:#100B09;
    --color_backgrownd:#F2E7C4;
    --color_backgrownd_OD:#0D0D0D;
    --color_barras: linear-gradient(180deg, #591202 0%, #8C2703 100%);
    --color_ativiments: #8C4E03;
    --font_padrão: 'Outfit', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font_padrão);
    box-sizing: border-box;
    border: 0;
    
}
.navMobile{
    display: none;
}
header{
    background-color:#591202;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    grid-area: header;
}
header a{
    text-decoration: none;
    color: white;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 10pt;
    

}

.site{
    background-color: var(--color_brown);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr 1fr 0.1fr ;
    
    grid-template-areas:
        'header header'
        "banner banner"
        "subtitle subtitle"
        "categorias categorias"
        "subtitle2 subtitle2"
        
        
        
    ; 
    
}
.banner{
    grid-area: banner;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--color_brown);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
        'tor desc'
        'img img'
    ;
    
    
    
    
}
.descr_item{
    background-color: #F9F4E4;
    padding: 5%;
    height: 100%;
    width: 100%;
    grid-area: desc;
}
.descr_item input{
    border: solid 1px black;
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 15px 105px;
    
}
.descr_item input:hover{
    background-color: #FFD952;
    color: #591202;
    border: none;
}
.descr_item h3{
    margin-top: 40px;
}
.img_item{
    background-color: #F9F4E4;
    margin: 0 auto;
    padding: 5%;
    height: 100%;
    width: 100%;
    grid-area: img;
    
}
.Janela{
    padding: 5%;
    background-color:#F9F4E4;
    width: 100%;
}




.tor{
    width: 100%;
    grid-area: img;

}
.categorias{
    grid-area: categorias;
    background-color: white;


}
.produtos{
    grid-area: produtos;
    background-color: #F9F4E4;
    box-shadow: 0px 0px 10px 1px inset black;
}
.visita{
    grid-area: visita;
    
}
.categorias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    
    align-items: center;
    justify-items: center;
    
    padding: 5%;
    gap: 20px;
    box-shadow: 0px 0px 10px 1px inset black;
    overflow-y: hidden;
    overflow-x: hidden;
    
    
    

}
.categorias_2::-webkit-scrollbar{
    background-color: #0D0D0D;
    height: 5px;

}
.categorias_2::-webkit-scrollbar-thumb{
    background-color: #8C2703;
}
.categorias::-webkit-scrollbar{
    background-color: #0D0D0D;
    height: 5px;

}
.categorias::-webkit-scrollbar-thumb{
    background-color: #8C2703;
}
.categ{
    height: 15rem;
    width: 15rem;
    
}


.categorias_2{
    background-color: white;

    width: 100%;
    height: 180px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
    
       

}

.categ_inicio{
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categ_inicio img{
    width: 100%;
}
.box_categoria_inicio{
    
    text-align: center;
    font-size: 10pt;
    font-weight: normal;
   

}

.btns{
  padding: 1rem;
}
.btns a{
   text-decoration: none;
   color: white;
   padding: 0.5rem;
   background-color: #0D0D0D;
   border-radius: 6px;
}
.subtitle3{
    grid-area: subtitle3;
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    color: white;
    align-items: center;
}
.subtitle2 h3{
    color: white;
    padding: 10px;
    font-size: 12pt; 
    font-weight: normal;
}
.subtitle3 h3{
    color: white;
}
.subtitle2{
    grid-area: subtitle2;
    display: flex;   
    justify-content: space-around;
    align-items: center;
}
.subtitle{
    grid-area: subtitle;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    background-color: #100B09;
}
.subtitle h3{
    color: white;
    font-size: 12pt;
    padding: 10px;
    font-weight: normal;
}
.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    align-items: center;
    justify-items:center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 5%;
    gap: 20px;
    
}
.produtos::-webkit-scrollbar{
    background-color: #0D0D0D;
    height: 5px;
}
.produtos::-webkit-scrollbar-thumb{
    background-color: #8C2703;
    
}
.prods{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    width: 220px;
    background-color: #ffffff;
    height: 350px;
    border-radius: 6px;
    padding: 5%;
    box-shadow: 0px 0px 5px 1px whitesmoke ;
    
    
}
.compr{
    color: white;
    font-size: 12pt;
    font-weight: 100;

}

    
.prods p{
    margin-top: 10px;
    text-align: left;
}
.prods h2{
    font-size: 12pt;
    color: #8C4E03;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.compr{
    background-color: #8C2703;
    width: 200px;
    height: 38px;
    border-radius: 6px; 
    font-weight: normal;

}
.compr p{
    color: white;
}
.box-prods{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.visita{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-image: url(imgs/Banal_background_wood_brown_Real__Futuristic_3D_4k_simple_must__2c888ade-8847-41f5-8e4c-4366f0cdcca9.png);
    background-position: center;
    background-size: cover;


}
.oferta10{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}
.formulario p{
    padding-bottom: 20px;
    padding-top: 10px;
}
.formulario input{
    padding: 15px 15px;
    border-radius: 6px;
    background-color: whitesmoke;
    width: 260px;
    
    
}
#form_btn{
    color: white;
    background-color: #8C2703;
    width: 260px;
}
.formulario{
    color: black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.726);
    padding: 3%;
    margin-bottom: 25px;
}
.btnConvite{
    background: var(--color_barras);
    height: 65px;
    width: 220px;
    border-radius: 6px;
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.imgSVG img{
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.visita img{
    width: 70%;
}

.convite p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);
    font-size: 16pt;

}
.convite h1{
    font-size: 25pt;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.534);
}
.btnConvite p {
    font-size: 10pt;
    text-shadow: none;
}

footer{
    height: 100px;
    padding-top: 10px;
    text-align: left;
    
    background-color: #0D0D0D;

}
footer h3{
    font-weight: normal;
    padding-bottom: 20px;
}
footer p{
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    text-align: justify;
}
.navSociais{
    align-items: center;
    justify-content: center;
    background-image: var(--color_barras);
    width: 100%;
    display: flex;
    height: 2rem;

}
.navSociais img{
    padding-left: 5px;
}
.prods-box{
    background-color:white;
    border-radius: 6px;
    height: 240px;
    width: 270px;
    padding: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    
    "foto name"
    "foto name"
    "botão botão"
    ;
    
    
}
.txt1{
    color: #0D0D0D;
    grid-area: name;
    padding: 5px;
    text-align: left;
}
.txt1 h3{
    margin-top: 60px;

}
.prods-box h3{
    color: #591202;
    
}
.prods-box a{
    background-color: #FFD952;
    padding: 10px 10px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: #591202;
    border-radius: 6px;
    grid-area: botão;
}
.prods-box a:hover{
    background-color: #0D0D0D;
}
.prods-box img{
    
    width:100%;
    
}

footer{
    display: flex;
    padding: 20px;
    gap: 40px;
    color: white;
    font-weight: lighter;

}
.paragrafo_sobrenos{
    
}
@media(max-width: 1040px){
    .categorias{
        overflow-x: scroll;

    }
    .produtos{
        overflow-x: scroll;
    }
    .banner{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
    }
    body{
        overflow-x: hidden;
    }
    main{
        overflow-x: hidden;
    }
    .visita{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url(imgs/Banal_background_wood_brown_Real__Futuristic_3D_4k_simple_must__2c888ade-8847-41f5-8e4c-4366f0cdcca9.png);
    }
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.726);
        padding: 3%;
        margin-bottom: 25px;
    }
    .convite{
        text-align: center;
        text-shadow: 3px 3px 3px black;
    }
    .btnConvite{
        height: 65px;
        width: 280px;
        text-shadow: none;
    }
    .barraNav a{
        display:none;
    }
    .navMobile{
        display: block;

    }
    .categorias_2{
        overflow-x: scroll;
    }
}